name: Repo Sync

on:
    schedule:
        - cron: '*/30 * * * *'
    workflow_dispatch:

jobs:
    repo-sync:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
              with:
                  persist-credentials: false
            - name: repo-sync
              uses: repo-sync/github-sync@v2
              with:
                  source_repo: 'https://${{secrets.TOKEN}}@github.com/vu3th/vue-dapp.git'
                  source_branch: 'main'
                  destination_branch: 'main'
                  github_token: ${{ secrets.TOKEN }}
